.m_recipe-item
  background #fff
  box-shadow 2px 2px 2px rgba(0,0,0,.3)
  border-radius $radius
  height 450px
  position relative
  padding-bottom 50px
  overflow hidden
  margin-bottom 10px
  @media SM
    height 550px
  @media LG
    margin-bottom 0
  &:after
    content ''
    position absolute
    left 0
    bottom 10px
    height 40px
    width 100%
    box-shadow 0 -30px 30px 10px rgba(255,255,255,.9)
    z-index 1
  .image
    height 150px
    @media SM
      height 200px
    a
      display block
      width 100%
      height 100%
      background-size cover
      background-position 50%
      background-repeat no-repeat
      position relative
      &:after
        anim()
        content ''
        width 100%
        height 100%
        position absolute
        left 0
        top 0
        background black
        opacity 0
      &:hover
        &:after
          opacity .2
  .details
    padding 15px
    text-align center
    .title
      margin-bottom 10px
      a
        color #000
        bold()
        anim()
        font-size 17px
        @media screen and (min-width: 460px)
          font-size 15px
        @media SM
          font-size 17px
        &:hover
          color $green
    .complexity
      color #bebebe
      font-size 14px
      margin-bottom 10px
    .tag
      font-size 0
      a
        anim()
        display inline-block
        vertical-align middle
        background #d6d395
        border-radius $radius
        color #fff
        text-transform uppercase
        font-size 10px
        padding 5px 15px
        margin 4px
        @media screen and (min-width: 460px)
          padding 2px 5px
        @media LG
          padding 5px 15px
        &:hover
          background #699a35
    .desc
      font-size 14px
      line-height 24px
      color #555555
      padding-top 10px
  .bottom
    clearfix()
    position absolute
    left 0
    bottom 0
    width 100%
    height 50px
    line-height 49px
    z-index 2
    border-top 1px solid #ebebeb
    padding 0 15px
    background #fff
    .dur
      float left
      position relative
      padding-left 25px
      font-size 14px
      color #555555
      &:after
        content ''
        background: url('../images/sprite.png') no-repeat -150px -300px;
        width: 20px;
        height: 20px;
        position absolute
        left 0
        top 50%
        margin-top -10px
    .weight
      float right
      position relative
      position relative
      padding-left 25px
      font-size 14px
      color #555555
      &:after
        content ''
        background: url('../images/sprite.png') no-repeat -100px -300px;
        width: 20px;
        height: 19px;
        position absolute
        left 0
        top 50%
        margin-top -13px
