.m_recipes-new
  position relative
  padding 30px 0
  background url("../images/pattern_paper.jpg") repeat 0 0
  background-attachment fixed
  @media LG
    padding 50px 0
  .recipes-filter
    margin-bottom 20px
    margin-top 10px
    text-align center
    font-size 0
    @media SM
      margin-top 20px
    @media LG
      margin-top 30px
      margin-bottom 30px
    a
      padding 10px 30px
      font-size 14px
      background $green
      margin 5px
      &:hover,
      &.current
        background $btn-green
  .action
    text-align center
    margin-top 20px
  .recipes-list
    .col
      @media screen and (max-width: 767px)
        display none
        &:nth-child(1),
        &:nth-child(2)
          display block
