// Sprite size
$sprite = 200px 300px

// Custom
$radius = 2px


// Colors
$btn-green = #699a35
$btn-green-hover = #235e21
$green = #235e21
$red = #ed3131
$brown = #453623

$border = #bebebe

// Media quries
LG = "only screen and (min-width: 1200px)"
MD = "only screen and (min-width: 992px)"
SM = "only screen and (min-width: 768px)"
XS = "only screen and (min-width: 480px)"
