extends ../modules/layout/layout.jade

block title
  title О компании

block settings
  - var user_authorised = false

block data
  include ../static/content/_home.jade

block content

  .page-header.main-overlay.large-space
    .image(style="background-image: url('images/page-header/4.jpg')")
    .m_breadcrumbs
      ul
        li: a(href="#") Главная
        li: a(href="#") О компании
    .wrapper
      .text
        .title О компании
  main
    article
      .lead-paragraph
        p ООО «ПроДиет» -  динамично развивающаяся компания-дистрибьютор на рынке диетического и диабетического питания.
      p Являясь дочерним подразделением одной из крупнейших в Санкт-Петербурге компаний-дистрибьюторов OOO «Петробалт», ООО «ПроДиет» имеет в своем штате исключительно профессиональных сотрудников с многолетним опытом работы в сфере производства и продаж продуктов здорового питания. На сегодняшний день наша компания работает со всеми каналами сбыта: оптовые и розничные, региональные продажи (весь Северо-Западный Федеральный округ), федеральные и локальные сети. Мы также всегда готовы к новому сотрудничеству.
      p Одной из главных ценностей нашей компании являются, несомненно, наши клиенты. Нам важен каждый заказчик вне зависимости от масштаба компании и объема приобретаемых товаров. Создавая этот сайт, мы стремились к тому, чтобы каждый житель Санкт-Петербурга мог приобрести любой понравившийся ему товар из представленного нами ассортимента максимально приятным и комфортным для него способом. На нашем складе всегда в наличии представлены более 500 наименований товаров диетического питания, которые пользуются наибольшим спросом у конечных потребителей.
      p Наша служба доставки совершенно бесплатно в течение 48 часов привезет Вам домой или в офис понравившиеся товары – в любом количестве.
    .m_pluses
      h2 Преимущества Продиет
      .list
        .item
          .title
            .image: img(src="images/pluses-1.png" alt="")
            span Доставка <br>по всей России
          .desc Сайт, торгующий товарами в Интернете. Позволяет пользователям сформировать заказ на покупку.
        .item
          .title
            .image: img(src="images/pluses-2.png" alt="")
            span Наличный и <br>безналичный расчет
          .desc Сайт, торгующий товарами в Интернете. Позволяет пользователям сформировать заказ на покупку.
        .item
          .title
            .image: img(src="images/pluses-3.png" alt="")
            span Гарантия качества <br>всех товаров
          .desc Сайт, торгующий товарами в Интернете. Позволяет пользователям сформировать заказ на покупку.
        .item
          .title
            .image: img(src="images/pluses-4.png" alt="")
            span Возврат товара <br>в течение 30 дней
          .desc Сайт, торгующий товарами в Интернете. Позволяет пользователям сформировать заказ на покупку.
