extends ../modules/layout/layout.jade

block title
  title Статья

block settings
  - var user_authorised = false

block data
  include ../static/content/_home.jade

block content

  .page-header.main-overlay
    .image(style="background-image: url('images/page-header/2.jpg')")
    .m_breadcrumbs
      ul
        li: a(href="#") Главная
        li: a(href="#") Статьи
    .wrapper
      .text
        .post-category Советы
        .title Десять продуктов, которые лучше есть не вместе, а по отдельности
        .post-viewed: span 43
  main
    .container
      .sidebar
        .partnership-view
          a(class="item" href="#"): img(src="images/sidebar-stock.jpg" alt="")
        .m_download-tips
          .type Бесплатная брошюра
          .title 10 советов при выборе системы питания
          .action
            a(class="btn btn-red" href="#") Скачать брошюру
      .content
        article
          .lead-paragraph
            p О том, что вкусное не всегда полезно, все мы знаем еще с детства. Оказывается, под это правило порой попадают даже самые безобидные продукты — здоровые, но совсем не совместимые друг с другом.
          p Культура питания — вещь сугубо индивидуальная и жутко сложная. Люди, взявшие за правило получать максимум пользы от всего, что они делают, стараются так же поступать и с приемами пищи, предпочитая здоровое, сбалансированное питание.
          p Соблюдать этот "здоровый баланс" крайне сложно: все дело в том, что витамины и микроэлементы, содержащиеся в нашей еде, могут плохо усваиваться вместе и даже нейтрализовать пользу друг друга. Мы решили собрать для вас самые популярные антисочетания, которые частенько попадают к нам на стол, и рассказать, почему от них есть смысл отказаться.
          img(src="images/article-image-1.jpg" alt="")
          h2 Газированная вода + молочное
          p Если вы будете запивать молочные продукты простой газированной водой или пить молоко, чередуя его с газировкой — можете готовиться к очень неприятным ощущениям в желудке.
          p Газированная вода, при всей своей безвредности и даже пользе, может привести к несварению, вздутию живота и чувству дискомфорта.
          p Молоко само по себе очень сложный продукт. Молочные жиры активно препятствуют выделению желудочного сока и замедляют усвоение других продуктов. Всем любителям молока советуют пить его в небольших количествах и уж точно отдельно от другой пищи.
    .m_top-items
      .wrapper
        .section-title
          h2 Каталог продуктов
        .top-items-content
          .top-items-carousel-top.top-item-carousels.enabled
            - for (var x = 0; x < 15; x++)
              .slide
                .item
                  .image: a(href="#"): img(src="images/item/1.png", alt="")
                  .details
                    .title: a(href="#") Клетчатка пшеничная крупная 150г*14шт КомпасЗдор
                    .available
                      span.yes В наличии
                      span.no Нет в наличии
                    .price 11 560 руб.
                  .bottom
                    .total-items
                      input(type='button' value='–' class='qtyminus' field='quantity'+x)
                      input(type='text' name='quantity'+x value='1' class='qty')
                      input(type='button' value='+' class='qtyplus' field='quantity'+x)
                    .add-to-cart
                      a(href="#")
          .action
            a.btn.btn-green.btn-arrow(href="#") Перейти в каталог
    .container
      .content
        article
          h2 Мясо + фасоль
          p Сочетание белок + белок вообще является очень тяжелым для желудка и, как следствие, плохо усваивается.
          p Таким образом, фасоль и мясо будут не только сверхкалорийной пищей, что уже негативно скажется на вашей фигуре в далеком будущем и самочувствии в данный момент, но и основательно нагрузят ваш организм изнурительной работой по перевариванию разных структур белка.
          .frame
            iframe(width="560" height="315" src="https://www.youtube.com/embed/mmdHBtLFwqE?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen)
          h2 Мясо + картофель
          p Крахмалистая картошка в сочетании с мясом перегрузит пищеварительную систему, могжетт вызвать брожение в кишечнике и чувство тяжести в желудке.
          p Все продукты, содержащие крахмал, советуют не сочетать с белковыми и делать между такими приемами пищи солидный интервал: не менее 3 часов. Идеальное сочетание и для картошки, и для мяса — свежие зеленые овощи.
          h2 Мясо + ананасы
          p Мясо с фруктами — довольно странное сочетание, но подобные блюда нравятся многим, а мясо с ананасами стало популярным во многих национальных кухнях.
          p Разная скорость переваривания белковых продуктов и сладких фруктов неизбежно приведет к дискомфорту и чувству тяжести. Лучше всего есть фрукты отдельно, и при этом не забывать, что делать это нужно за некоторое время до приема пищи и хотя бы через час после трапезы.
          .bottom-article
            .share
              .title Рекомендовать друзьям
              script(src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js")
              script(src="//yastatic.net/share2/share.js")
              div(class="ya-share2" data-services="vkontakte,facebook,odnoklassniki" data-counter="5")
            .articles-nav
              .previous
                a(href="#")
                  .arrow.prev-arrow
                  .label Предыдущая статья
                  .title Тартар из сельди с авокадо
              .next
                a(href="#")
                  .arrow.next-arrow
                  .label Следущая статья
                  .title Турецкий салат
    .m_lead-articles
      .wrapper
        .section-title
          h2 Новые статьи
          .total-articles
            a(href="#")
              span.value 235
              span.label полезных статей <br>на каждый день
        .articles
          .top-items-carousel-top.top-item-carousels
            - for (var x = 0; x < 3; x++)
              .slide
                .item
                  .image: a(href="#" style="background-image: url('images/articles-1.png')")
                  .details
                    .post-category Советы
                    .title: a(href="#") Симптомы дефицита железа: что делать и какие продукты выбирать
                    .desc Забывая о насыщенной железом пище, мы сталкиваемся со множеством неприятных последствий для здоровья. Наш обзор расскажет, как избежать железодефицита и какие продукты нужно срочно включать в рацион.
                  .bottom
                    .viewed 43
              .slide
                .item
                  .image: a(href="#" style="background-image: url('images/articles-2.png')")
                  .details
                    .post-category Диета
                    .title: a(href="#") Симптомы дефицита железа: что делать и какие продукты выбирать
                    .desc Забывая о насыщенной железом пище, мы сталкиваемся со множеством неприятных последствий для здоровья. Наш обзор расскажет, как избежать железодефицита и какие продукты нужно срочно включать в рацион.
                  .bottom
                    .viewed 43
              .slide
                .item
                  .image: a(href="#" style="background-image: url('images/articles-3.png')")
                  .details
                    .post-category О продуктах
                    .title: a(href="#") Симптомы дефицита железа: что делать и какие продукты выбирать
                    .desc Забывая о насыщенной железом пище, мы сталкиваемся со множеством неприятных последствий для здоровья. Наш обзор расскажет, как избежать железодефицита и какие продукты нужно срочно включать в рацион.
                  .bottom
                    .viewed 43