extends ../modules/layout/layout.jade

block title
  title Мои заказы

block settings
  - var user_authorised = false

block data
  include ../static/content/_home.jade

block content

  .page-header.main-overlay.large-space
    .image(style="background-image: url('images/page-header/4.jpg')")
    .m_breadcrumbs
      ul
        li: a(href="#") Главная
        li: a(href="#") Мои заказы
    .wrapper
      .text
        .title Мои заказы
        .backward: a(href="#") Вернуться в каталог
  main
    .m_cabinet
      .cabinet-nav
        a(class="btn btn-green" href="#") Список заказов
        a(class="btn btn-green" href="#") Мои данные
        a(class="btn btn-green" href="#") Отложенные товары
      .orders-list
        table
          tr
            th номер заказа
            th дата заказа
            th товары
            th стоимость заказа
            th статус
            th
          tr
            td
              .item-id
                span Номер заказа:
                | ID147855425
            td
              .date
                span Дата заказа:
                | 17 апреля 2017
            td
              .list
                .item
                  .image: a(href="#"): img(src="images/item/1.png" alt="")
                  .title
                    a(href="#") Имбирь в шоколаде
                    span х 4
                .item
                  .image: a(href="#"): img(src="images/item/1.png" alt="")
                  .title
                    a(href="#") Имбирь в шоколаде
                    span х 4
            td
              .sum 11 000 руб.
            td
              .status
                span Оплачен
            td
              .action
                a(href="#") Повторить заказ
          tr
            td
              .item-id
                span Номер заказа:
                | ID147855425
            td
              .date
                span Дата заказа:
                | 17 апреля 2017
            td
              .list
                .item
                  .image: a(href="#"): img(src="images/item/1.png" alt="")
                  .title
                    a(href="#") Имбирь в шоколаде
                    span х 4
                .item
                  .image: a(href="#"): img(src="images/item/1.png" alt="")
                  .title
                    a(href="#") Имбирь в шоколаде
                    span х 4
                .item
                  .image: a(href="#"): img(src="images/item/1.png" alt="")
                  .title
                    a(href="#") Имбирь в шоколаде
                    span х 4
                .item
                  .image: a(href="#"): img(src="images/item/1.png" alt="")
                  .title
                    a(href="#") Имбирь в шоколаде
                    span х 4
            td
              .sum 11 000 руб.
            td
              .status
                span Оплачен
            td
              .action
                a(href="#") Повторить заказ
          tr
            td
              .item-id
                span Номер заказа:
                | ID147855425
            td
              .date
                span Дата заказа:
                | 17 апреля 2017
            td
              .list
                .item
                  .image: a(href="#"): img(src="images/item/1.png" alt="")
                  .title
                    a(href="#") Имбирь в шоколаде
                    span х 4
            td
              .sum 11 000 руб.
            td
              .status
                span Оплачен
            td
              .action
                a(href="#") Повторить заказ
          tr
            td
              .item-id
                span Номер заказа:
                | ID147855425
            td
              .date
                span Дата заказа:
                | 17 апреля 2017
            td
              .list
                .item
                  .image: a(href="#"): img(src="images/item/1.png" alt="")
                  .title
                    a(href="#") Имбирь в шоколаде
                    span х 4
                .item
                  .image: a(href="#"): img(src="images/item/1.png" alt="")
                  .title
                    a(href="#") Имбирь в шоколаде
                    span х 4
            td
              .sum 11 000 руб.
            td
              .status
                span Оплачен
            td
              .action
                a(href="#") Повторить заказ