extends ../modules/layout/layout.jade

block title
  title Подраздел каталога продукции

block settings
  - var user_authorised = false

block data
  include ../static/content/_home.jade

block content

  .page-header.main-overlay.compact
    .image(style="background-image: url('images/page-header/5.jpg')")
    .m_breadcrumbs
      ul
        li: a(href="#") Главная
        li: a(href="#") Каталог продукции
        li: a(href="#") Подраздел каталога продукции
    .wrapper
      .text
        .title Подраздел каталога продукции
  main
    .container
      .sidebar.left
        .m_sidebar-categories
          .dropdown-aside-categories
            .dropdown-aside-categories-header: a(href="#") Каталог продукции
            .sidebar-categories-box
              .dropdown-aside
                .dropdown-aside-header: a(href="#") Сахарозаменители, Сахар, Сиропы
                .box
                  ul
                    li: a(href="#") Подкатегория
                    li: a(href="#") Подкатегория
                    li: a(href="#") Подкатегория
                    li: a(href="#") Подкатегория
                    li: a(href="#") Подкатегория
                    li: a(href="#") Подкатегория
              .dropdown-aside
                .dropdown-aside-header: a(href="#") Диабетические продукты
                .box
                  ul
                    li: a(href="#") Подкатегория
                    li: a(href="#") Подкатегория
                    li: a(href="#") Подкатегория
                    li: a(href="#") Подкатегория
                    li: a(href="#") Подкатегория
                    li: a(href="#") Подкатегория
              .dropdown-aside
                .dropdown-aside-header: a(href="#") Леденцы, Карамель
                .box
                  ul
                    li: a(href="#") Подкатегория
                    li: a(href="#") Подкатегория
                    li: a(href="#") Подкатегория
                    li: a(href="#") Подкатегория
                    li: a(href="#") Подкатегория
                    li: a(href="#") Подкатегория
              .dropdown-aside
                .dropdown-aside-header: a(href="#") Постная продукция
                .box
                  ul
                    li: a(href="#") Подкатегория
                    li: a(href="#") Подкатегория
                    li: a(href="#") Подкатегория
                    li: a(href="#") Подкатегория
                    li: a(href="#") Подкатегория
                    li: a(href="#") Подкатегория
              .dropdown-aside
                .dropdown-aside-header: a(href="#") Продукция из Имбиря
                .box
                  ul
                    li: a(href="#") Подкатегория
                    li: a(href="#") Подкатегория
                    li: a(href="#") Подкатегория
                    li: a(href="#") Подкатегория
                    li: a(href="#") Подкатегория
                    li: a(href="#") Подкатегория
              .dropdown-aside
                .dropdown-aside-header: a(href="#") Растительные масла
                .box
                  ul
                    li: a(href="#") Подкатегория
                    li: a(href="#") Подкатегория
                    li: a(href="#") Подкатегория
                    li: a(href="#") Подкатегория
                    li: a(href="#") Подкатегория
                    li: a(href="#") Подкатегория
              .dropdown-aside
                .dropdown-aside-header: a(href="#") Продукция из Сои
                .box
                  ul
                    li: a(href="#") Подкатегория
                    li: a(href="#") Подкатегория
                    li: a(href="#") Подкатегория
                    li: a(href="#") Подкатегория
                    li: a(href="#") Подкатегория
                    li: a(href="#") Подкатегория
              .dropdown-aside
                .dropdown-aside-header: a(href="#") Сахарозаменители, Сахар, Сиропы
                .box
                  ul
                    li: a(href="#") Подкатегория
                    li: a(href="#") Подкатегория
                    li: a(href="#") Подкатегория
                    li: a(href="#") Подкатегория
                    li: a(href="#") Подкатегория
                    li: a(href="#") Подкатегория
              .dropdown-aside
                .dropdown-aside-header: a(href="#") Семена, Ягоды, Зерна
                .box
                  ul
                    li: a(href="#") Подкатегория
                    li: a(href="#") Подкатегория
                    li: a(href="#") Подкатегория
                    li: a(href="#") Подкатегория
                    li: a(href="#") Подкатегория
                    li: a(href="#") Подкатегория
      .content
        .m_catalog-items
          .header
            .sort
              .label Сортировать:
              a(class="sort-by-price" href="#")
                span По цене
                i.arrow
              a(class="sort-by-rate" href="#")
                span По популярности
                i.arrow
            .display
              a(class="display-grid current" href="#")
              a(class="display-row" href="#")
          .list.row
            - for (var x = 0; x < 15; x++)
              .col.xs2.sm3
                .item
                  .image: a(href="#"): img(src="images/item/1.png", alt="")
                  .details
                    .title: a(href="#") Клетчатка пшеничная крупная 150г*14шт КомпасЗдор
                    .available
                      span.yes В наличии
                      span.no Нет в наличии
                    .price 11 560 руб.
                  .bottom
                    .total-items
                      input(type='button' value='–' class='qtyminus' field='quantity'+x)
                      input(type='text' name='quantity'+x value='1' class='qty')
                      input(type='button' value='+' class='qtyplus' field='quantity'+x)
                    .add-to-cart
                      a(href="#")
        .m_pagination
          ul
            li: a(class="prev" href="#")
            li: a(href="#") 1
            li: a(href="#") 2
            li: a(href="#") 3
            li: a(href="#") 4
            li: a(href="#") 5
            li: a(class="current" href="#") 6
            li: a(href="#") 7
            li: a(href="#") 8
            li: a(href="#") 9
            li: a(href="#") 10
            li: a(class="next" href="#")
    .m_seo-text
      h4 Пример SEO текста
      p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло.
      p Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед глазами. «Что со мной случилось?» – подумал он. Это не было сном. Его комната, настоящая, разве что слишком маленькая, но обычная комната, мирно покоилась в своих четырех хорошо знакомых стенах. Над столом, где были разложены распакованные образцы сукон – Замза был коммивояжером, – висел портрет, который он недавно вырезал из иллюстрированного журнала и вставил в красивую золоченую рамку.
    .m_top-items
      .wrapper
        .top-items-nav
          a(class="top current" href="#") Лучшие предложения
          a(class="new" href="#") Ранее вы смотрели
        .top-items-loader
          span
          span
          span
        .top-items-content
          // Хиты продаж
          .top-items-carousel-top.top-item-carousels.enabled
            - for (var x = 0; x < 2; x++)
              .slide
                .item
                  .image: a(href="#"): img(src="images/item/1.png", alt="")
                  .details
                    .title: a(href="#") Клетчатка пшеничная крупная 150г * 14шт
                    .available
                      span.yes В наличии
                      span.no Нет в наличии
                    .price 11 560 руб.
                  .bottom
                    .total-items
                      input(type='button' value='–' class='qtyminus' field='quantity'+x)
                      input(type='text' name='quantity'+x value='1' class='qty')
                      input(type='button' value='+' class='qtyplus' field='quantity'+x)
                    .add-to-cart
                      a(href="#")
              .slide
                .item
                  .image: a(href="#"): img(src="images/item/2.png", alt="")
                  .details
                    .title: a(href="#") Фитококтейль SK FIBERIA Энергия Ваниль 350г * 12 шт
                    .available
                      span.yes В наличии
                      span.no Нет в наличии
                    .price 11 560 руб.
                  .bottom
                    .total-items
                      input(type='button' value='–' class='qtyminus' field='quantity'+x)
                      input(type='text' name='quantity'+x value='1' class='qty')
                      input(type='button' value='+' class='qtyplus' field='quantity'+x)
                    .add-to-cart
                      a(href="#")
              .slide
                .item
                  .image: a(href="#"): img(src="images/item/3.png", alt="")
                  .details
                    .title: a(href="#") Батончик овсянный Петродиет черничный в шок. глазури 35г * 25шт
                    .available
                      span.yes В наличии
                      span.no Нет в наличии
                    .price 11 560 руб.
                  .bottom
                    .total-items
                      input(type='button' value='–' class='qtyminus' field='quantity'+x)
                      input(type='text' name='quantity'+x value='1' class='qty')
                      input(type='button' value='+' class='qtyplus' field='quantity'+x)
                    .add-to-cart
                      a(href="#")
              .slide
                .item
                  .image: a(href="#"): img(src="images/item/4.png", alt="")
                  .details
                    .title: a(href="#") Заменитель сахара на осн. эритритола №10 САШЕ 1г * 60 пак * 32 шт ФитПарад
                    .available
                      span.yes В наличии
                      span.no Нет в наличии
                    .price 11 560 руб.
                  .bottom
                    .total-items
                      input(type='button' value='–' class='qtyminus' field='quantity'+x)
                      input(type='text' name='quantity'+x value='1' class='qty')
                      input(type='button' value='+' class='qtyplus' field='quantity'+x)
                    .add-to-cart
                      a(href="#")
          // Новинки
          .top-items-carousel-new.top-item-carousels.disabled
            - for (var x = 0; x < 10; x++)
              .slide
                .item
                  .image: a(href="#"): img(src="images/item/2.png", alt="")
                  .details
                    .title: a(href="#") ФитококтейльSK FIBERiaЭнергия Ваниль 350г*12штСибирскаяКлетчатка
                    .available
                      span.yes В наличии
                      span.no Нет в наличии
                    .price 2 123 руб.
                  .bottom
                    .total-items
                      input(type='button' value='–' class='qtyminus' field='quantity'+x)
                      input(type='text' name='quantity'+x value='1' class='qty')
                      input(type='button' value='+' class='qtyplus' field='quantity'+x)
                    .add-to-cart
                      a(href="#")