extends ../modules/layout/layout.jade

block title
  title Акции и скидки

block settings
  - var user_authorised = false

block data
  include ../static/content/_home.jade

block content

  .page-header.main-overlay.large-space
    .image(style="background-image: url('images/page-header/7.jpg')")
    .m_breadcrumbs
      ul
        li: a(href="#") Главная
        li: a(href="#") Акции
    .wrapper
      .text
        .title Акции и скидки
        .intro Для того чтобы мы могли еще лучше организовать работу нашего магазина, оперативнее реагировать на ваши пожелания и возможные огрехи в работе с нашей стороны, мы создали книгу жалоб и предложений. Если по какой-либо причине вас не устроило качество нашего обслуживания, если у вас есть дельные предложения по улучшению работы магазина, пишите, и мы обязательно откликнемся. Для скорейшего решения вашего вопроса не забывайте указывать обратные координаты для связи.
  main
    .m_news
      article
        .lead-paragraph
          p Промо-акция — это разновидность рекламной активности, при которой происходит прямой контакт с потребителем товаров или услуг. Во время этого контакта потенциальный покупатель получает информацию о товаре, услуге, условиях акций и скидках.
          p Общая цель проведения промо-акций всегда одна — увеличение продаж. Но достигаться эта цель может путем реализации различных задач. В зависимости от поставленных задач, выбирается механика планируемой промо-акции.
      .list
        .item
          .image
            a(href="#"): img(src="images/articles-1.png" alt="")
          .details
            .date 02 инюня 2017
            .title: a(href="#") Заголовок новости, который может быть в несколько строк
            .desc Дорогие друзья, сегодня мы спешим вам сообщить о запуске новой акции - «АКЦИЯ - Комплектом дешевле!»
        .item
          .image
            a(href="#"): img(src="images/articles-2.png" alt="")
          .details
            .date 02 инюня 2017
            .title: a(href="#") Заголовок новости, который может быть в несколько строк
            .desc Дорогие друзья, сегодня мы спешим вам сообщить о запуске новой акции - «АКЦИЯ - Комплектом дешевле!»
        .item
          .image
            a(href="#"): img(src="images/articles-3.png" alt="")
          .details
            .date 02 инюня 2017
            .title: a(href="#") Заголовок новости, который может быть в несколько строк
            .desc Дорогие друзья, сегодня мы спешим вам сообщить о запуске новой акции - «АКЦИЯ - Комплектом дешевле!»
        .item
          .image
            a(href="#"): img(src="images/article-image-1.jpg" alt="")
          .details
            .date 02 инюня 2017
            .title: a(href="#") Заголовок новости, который может быть в несколько строк
            .desc Дорогие друзья, сегодня мы спешим вам сообщить о запуске новой акции - «АКЦИЯ - Комплектом дешевле!»
        .item
          .image
            a(href="#"): img(src="images/articles-1.png" alt="")
          .details
            .date 02 инюня 2017
            .title: a(href="#") Заголовок новости, который может быть в несколько строк
            .desc Дорогие друзья, сегодня мы спешим вам сообщить о запуске новой акции - «АКЦИЯ - Комплектом дешевле!»
      .m_pagination
        ul
          li: a(class="prev" href="#")
          li: a(href="#") 1
          li: a(href="#") 2
          li: a(href="#") 3
          li: a(href="#") 4
          li: a(href="#") 5
          li: a(class="current" href="#") 6
          li: a(href="#") 7
          li: a(href="#") 8
          li: a(href="#") 9
          li: a(href="#") 10
          li: a(class="next" href="#")
