.m_download-tips
  display none
  background url("../images/pattern_paper.jpg") repeat 0 0
  padding 30px 15px
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  border-radius $radius
  margin-bottom 30px
  @media MD
    display block
  &:last-child
    margin-bottom 0
  .type
    font-size 16px
    color #453623
    margin-bottom 20px
  .title
    font-size 24px
    line-height 1.2
    color #453623
    futuris()
    text-transform uppercase
    margin-bottom 15px
  .action
    a
      font-size 16px
      width 100%
      padding-left 0
      padding-right 0
      text-align center