.m_articles
  position relative
  padding-top 30px
  @media LG
    padding-top 50px
  .tabs-header
    margin-bottom 20px
    text-align center
    font-size 0
    @media LG
      margin-bottom 40px
    a
      padding 10px 30px
      font-size 14px
      background $green
      margin 5px
      &:hover,
      &.current
        background $btn-green
