.btn
  anim()
  sn()
  position relative
  display inline-block
  vertical-align middle
  background #e0e0e0
  border-radius 30px
  font-size 18px
  min-width 88px
  padding 15px 35px
  text-decoration none
  will-change box-shadow
  color #424242
  border none
  &:after
    anim()
    border-radius inherit
    bottom 0
    content ''
    left 0
    position absolute
    top 0
    right 0
    z-index 0
  &:hover
    &:after
      background-color rgba(0,0,0,.12)
  &[disabled]
    opacity .5
    &:hover
      &:after
        background none
  &.btn-green
    background $btn-green
    color #fff
    box-shadow 0 1px 5px rgba(105, 154, 53, .2), 0 2px 2px rgba(105, 154, 53, .14), 0 3px 1px -2px rgba(105, 154, 53, .12)
    &:hover
      background $btn-green-hover
      box-shadow none
  &.btn-red
    box-shadow 0 1px 5px rgba(237, 49, 49, .2), 0 2px 2px rgba(237, 49, 49, .14), 0 3px 1px -2px rgba(237, 49, 49, .12)
    background $red
    color #fff
    &:hover
      background $btn-green-hover
      box-shadow none
  &.btn-arrow
    padding-right 60px
    &:before
      content ''
      background: url('../images/sprite.png') no-repeat -350px -150px;
      width: 11px;
      height: 18px;
      position absolute
      right 30px
      top 50%
      margin-top -(@height/2)



// Ripples effect
.ripple
  anim()
  position relative
  overflow hidden
  cursor pointer
  .ink
    display block
    position absolute
    background rgba(255, 255, 255, 0.3)
    border-radius 100%
    transform scale(0)
  .animate
    animation ripple 0.65s linear
  @keyframes ripple
    100%
      opacity 0
      transform scale(2.5)

// Mobile burger button
.btn-mobile-menu
  anim()
  position relative
  display block
  height 50px
  width 50px
  cursor pointer
  background $btn-green
  border none
  @media MD
    display none
  &:hover
    background-color $btn-green-hover
  &:after,
  &:before,
  i
    anim()
    content ''
    position absolute
    left 50%
    width 20px
    margin-left -10px
    height 2px
    background #fff
  &:before
    top 17px
  &:after
    bottom 17px
  i
    top 50%
    margin-top -1.5px
  &.is-open
    i
      opacity 0
      transform translateX(-5px)
    &:after
      transform rotate(135deg) translate(-5px, 5px)
    &:before
      transform rotate(-135deg) translate(-5px, -5px)

