.select
  select
    min-width 200px
.select2-container .select2-selection--single
  height 50px
.select2-container--default .select2-selection--single
  border-radius 0
  border none
  border-bottom 1px solid #d2d2d2
.select2-container--default .select2-selection--single .select2-selection__rendered
  line-height 49px
  color #555
  text-align left
.select2-container .select2-selection--single .select2-selection__rendered
  padding-left 0
.select2-container--default .select2-selection--single .select2-selection__arrow
  height 49px
.select2-container--default .select2-selection--single .select2-selection__arrow b
  border-color #555 transparent transparent transparent
.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option[aria-selected=true]
  background $btn-green
  color #fff
.select2-dropdown
  border none
  border-bottom 1px solid #d2d2d2
  border-radius 0
  color #555
  font-size 14px
.select2-results__option
  padding 10px 15px
.select2-results
  box-shadow 2px 2px 5px rgba(0,0,0,.2)