.m_lead-articles
  padding 30px 0
  background url("../images/pattern_paper.jpg") repeat 0 0
  background-attachment fixed
  @media LG
    padding 50px 0
  @media screen and (min-width: 1300px)
    overflow hidden
  .slick-slider
    position static
  .slick-arrow
    anim()
    width 50px
    height 50px
    position absolute
    top 50%
    margin-top -(@height/2)
    background #fff
    border-radius 50%
    border none
    text-indent -9999px
    box-shadow 0 16px 38px rgba(0,0,0,.35)
    z-index 1
    &:hover
      background $btn-green
      box-shadow 0 8px 16px rgba(0,0,0,.25)
    &:after
      content ''
      position absolute
      left 50%
      top 50%
      background-image url("../images/sprite.png")
      background-repeat no-repeat
    &.slick-prev
      left 50%
      margin-left -655px
      &:after
        width 13px
        height 25px
        margin-top -(@height/2)
        margin-left -(@width/2)
        background-position -250px -150px
      &:hover
        &:after
          background-position -300px -250px
    &.slick-next
      right 50%
      margin-right -655px
      &:after
        width 13px
        height 24px
        margin-top -(@height/2)
        margin-left -5px
        background-position -300px -150px
      &:hover
        &:after
          background-position -350px -250px
  .top-item-carousels
    opacity 0
    &.op1
      opacity 1
  .slide
    padding 10px
    .item
      background #fff
      box-shadow 2px 2px 2px rgba(0,0,0,.3)
      border-radius $radius
      height 450px
      position relative
      padding-bottom 50px
      overflow hidden
      @media SM
        height 550px
      &:after
        content ''
        position absolute
        left 0
        bottom 10px
        height 40px
        width 100%
        box-shadow 0 -30px 30px 10px rgba(255,255,255,.9)
        z-index 1
      .image
        height 150px
        @media SM
          height 200px
          padding 15px
          padding-bottom 0
        @media MD
          height 270px
        a
          display block
          width 100%
          height 100%
          background-size cover
          background-position 50%
          background-repeat no-repeat
          position relative
          &:after
            anim()
            content ''
            width 100%
            height 100%
            position absolute
            left 0
            top 0
            background black
            opacity 0
          &:hover
            &:after
              opacity .2
      .details
        padding 15px
        .title
          a
            color #000
            bold()
            anim()
            font-size 17px
            @media screen and (min-width: 460px)
              font-size 15px
            @media SM
              font-size 17px
            &:hover
              color $green
        .post-category
          color #bebebe
          font-size 14px
          margin-bottom 10px
        .desc
          font-size 14px
          line-height 24px
          color #555555
          padding-top 10px
      .bottom
        clearfix()
        position absolute
        left 0
        bottom 0
        width 100%
        height 50px
        line-height 49px
        z-index 2
        border-top 1px solid #ebebeb
        padding 0 15px
        background #fff
        .viewed
          float left
          position relative
          padding-left 25px
          font-size 14px
          color #555555
          &:after
            content ''
            background: url('../images/sprite.png') no-repeat 0 -250px;
            width: 16px;
            height: 10px;
            position absolute
            left 0
            top 50%
            margin-top -5px
